/* Font Family Import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
}

/* Common CSS */
.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    font-family: "Fira Sans", serif;
    background-color: #006a50;
    color: #fff;
    border-radius: 8px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #013f30;
}

.section-title {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
}

.section-head .paragraph {
    margin-top: 25px;
}

.paragraph {
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

.text-primary {
    color: #006a50;
}

/* Nav Section Style */

nav {
    padding: 24px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
}

.nav-btn {
    color: #006a50;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006a50;
    border-radius: 8px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #006a50;
    color: #fff;
}

/* Hero Section Style */

.hero-section {
    background: rgb(198, 228, 214);
    padding: 70px 50px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.hero-title {
    color: #0e0e0e;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin: 18px 0px 25px;
}

/* Pillars Section Style */
.pillars-section {
    margin: 80px 0px;
}

.pillars-cards-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pillars-card {
    padding: 25px;
    background: #ffffff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    width: 280px;
    height: 100%;
}

.pillars-card img {
    width: 62px;
}

.pillars-card-title {
    color: rgba(14, 14, 14, 0.8);
    margin: 20px 0px 15px;
    font-size: 20px;
    font-weight: 700;
}

/* Vision Section Style */
.vision-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-top: 30px;
}

.vision-card {
    width: 380px;
    padding: 32px;
    border-radius: 16px;
}

.vision-card img {
    width: 62px;
}

.vision-card-one {
    background: rgba(84, 144, 245, 0.2);

}

.vision-card-two {
    background: rgb(198, 228, 214);
}

.vision-card-three {
    background: rgb(247, 235, 207);
}

.vision-card h3 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin: 25px 0px 15px;
}

.vision-btn {
    color: #ffffff;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}

.vision-card-one .vision-btn {
    background: rgb(84, 144, 245);
}

.vision-card-one .vision-btn:hover {
    background: rgb(13, 98, 245);
}

.vision-card-two .vision-btn {
    background: rgb(9, 161, 92);
}

.vision-card-two .vision-btn:hover {
    background: rgb(4, 114, 64);
}

.vision-card-three .vision-btn {
    background: rgb(255, 194, 57);
}

.vision-card-three .vision-btn:hover {
    background: rgb(238, 170, 13);
}

.vision-adviser {
    background-color: #fff;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 2% 10%;
    margin-top: 32px;
    padding: 40px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.vision-adviser-name {
    color: rgba(14, 14, 14, 0.8);
    margin: 15px 0px 5px;
    font-size: 20px;
    font-weight: 600;
}

/* Your Opinion Section Style */
.your-opinion {
    margin: 80px 0px;
}

.opinion-container {
    background: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 16px;
    margin-top: 24px;
}

table {
    width: 100%;
}

thead {
    background: rgb(198, 228, 214);
}

th, td {
    padding: 24px;
}

table, tr, td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
}

thead th {
    text-align-last: left;
}

.opinion-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.opinion-btn {
    background: rgb(198, 228, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 14px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    cursor: pointer;
}

/* News Section Style */
.news-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

.news-img img {
    width: 420px;
    height: 100%;
    border-radius: 24px;
}

.news-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}

.news-content img {
    margin: 12px 0px;
} 

.news-description {
    margin: 12px 0px 32px;
}